@model Dictionary<string, List<Pasvaldibas.Web.Controllers.DuplicateItem>>
@{
    ViewBag.Title = "Datumi ar dubultu skaitu";
}

@foreach (var item in Model)
{
    <h2>@item.Key</h2>
    <h6>@ViewData[item.Key]</h6>
    <table>
        @foreach (var apmeklejums in item.Value)
        {
            <tr>
                <td>@apmeklejums.Date</td>
                <td>@apmeklejums.Deputy</td>
            </tr>
        }
    </table>
}