@model Dictionary<string, List<string>>
@{
    ViewBag.Title = "Visu pašvaldību tukšie datumi";
}

@foreach (var item in Model)
{
    <h2>@item.Key</h2>
    <h6>@ViewData[item.Key]</h6>
    <table>
        @foreach (var datums in item.Value)
        {
            <tr>
                <td>@datums</td>
            </tr>
        }
    </table>
}