@model IEnumerable<Pasvaldibas.Web.Controllers.api.OccuranceItem>
@{
    ViewBag.Title = "Datumi ar dažādiem skaitiem";
}

<p>Datumi, kuros pašvaldības sēdes apmeklējuma skaits nesakrīt ar apmeklējumu skaita modu.</p>

<h2>@ViewBag.Pasvaldiba</h2>
<h4>Moda ir @ViewBag.Moda</h4>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Date</td>
            <td>@item.Value</td>
        </tr>
    }
</table>

