@model IEnumerable<string>
@{
    ViewBag.Title = "Pašvaldības tukšie mēneši";
}

<h2>Tukšie datumi: @ViewBag.Pasvaldiba</h2>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item</td>
        </tr>
    }
</table>

