.dashboard-container {
    margin-top: 30px;
}

.fa-6 {
    font-size: 20em;
}

.fa-5 {
    font-size: 12em;
}

.fa-4 {
    font-size: 7em;
}

.fa-4 {
    font-size: 4em;
}

.good {
    color: green;
}

.average {
    color: orange;
}

.bad {
    color: red;
}

.item-container {
    padding-top: 20px;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .item-container {
        height: 172.8px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 991px) {
    .item-container {
        height: 160px;
    }
}

@media only screen and (min-width : 480px) and (max-width : 767px) {
    .item-canvas {
        width: 45%;
        margin: 0 auto;
    }
}

@media only screen and (max-width : 479px) {
    .item-canvas {
        width: 75%;
        margin: 0 auto;
    }
}

.municipality-body {
    font-family: "Roboto",Arial,sans-serif;
}

.gerbonis {
    width: 30px;
}

.chart-legend {
    list-style-type: none;
    padding-left: 0;
}

.legend-span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.legend-red {
    background-color: #f7464a;
    background-color: rgba(247, 70, 74, 1);
}

.legend-blue {
    background-color: #97bbcd;
    background-color: rgba(151, 187, 205, 1);
}

.legend-grey {
    background-color: #dcdcdc;
    background-color: rgba(220, 220, 220, 1);
}

.legend {
    text-align: center;
}

    .legend ul {
        list-style: none;
    }

        .legend ul li {
            display: inline;
        }

.deputy-link {
    color: black;
}

    .deputy-link:hover {
        color: black;
    }

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.test {
    color: #82a667;
}

.deputy-pie {
    width: 50%;
    margin: 0 auto;
}

input[type="button"], input[type="button"]:focus, input[type="button"]:active,
button, button:focus, button:active {
    /* Remove all decorations to look like normal text */
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
}
    /* Remove extra space inside buttons in Firefox */
    input[type="button"]::-moz-focus-inner,
    button::-moz-focus-inner {
        border: none;
        padding: 0;
    }

.deputy-link {
    cursor: pointer;
}
