<h2 class="text-center" ng-cloak>{{deputyName}}</h2>
<h4 class="text-center" ng-cloak>{{deputyMunicipality}}</h4>

<br />
<h5 class="text-center">Neierašanās iemesli</h5>
<div class="deputy-pie">
    <canvas class="chart chart-pie chart-xs" chart-data="pieData"
            chart-labels="pieLabels"
            chart-options="pieOptions"
            chart-colors="pieColors"></canvas>
</div>

<br />
<h5>Apmeklējums 2013. gadā</h5>
    <canvas class="chart-bar"
            chart-data="data2013data"
            chart-labels="data2013labels"
            chart-dataset-override="dataset2013Override"
            chart-options="options2013"
            ng-style="style2013" ng-if="style2013"></canvas>


<br />
<h5>Apmeklējums 2014. gadā</h5>
    <canvas class="chart-bar"
            chart-data="data2014data"
            chart-labels="data2014labels"
            chart-dataset-override="dataset2014Override"
            chart-options="options2014"
            ng-style="style2014" ng-if="style2014"></canvas>


<br />
<h5>Apmeklējums 2015. gadā</h5>
    <canvas class="chart-bar"
            chart-data="data2015data"
            chart-labels="data2015labels"
            chart-dataset-override="dataset2015Override"
            chart-options="options2015"
            ng-style="style2015" ng-if="style2015"></canvas>


<br />
<h5>Apmeklējums 2016. gadā</h5>
    <canvas class="chart-bar"
            chart-data="data2016data"
            chart-labels="data2016labels"
            chart-dataset-override="dataset2016Override"
            chart-options="options2016"
            ng-style="style2016" ng-if="style2016"></canvas>

