<h4 class="text-center">Jānis Krūmiņš</h4>
<h6 class="text-center">Latvijas Virpotāju partija</h6>

<canvas class="chart-bar"
        chart-data="data" chart-labels="labels" chart-colors="colors"></canvas>

<canvas class="chart-bar"
        chart-data="data" chart-labels="labels" chart-colors="colors"></canvas>

<canvas class="chart-bar"
        chart-data="data" chart-labels="labels" chart-colors="colors"></canvas>

<canvas class="chart-bar"
        chart-data="data" chart-labels="labels" chart-colors="colors"></canvas>
