<h4 class="text-center">{{deputyName}}</h4>
<h6 class="text-center">{{deputyMunicipality}}</h6>

<canvas class="chart-bar"
        chart-data="data2013data"
        chart-labels="data2013labels"
        chart-dataset-override="dataset2013Override"
        chart-options="options"></canvas>

<canvas class="chart-bar"
        chart-data="data2014data"
        chart-labels="data2014labels"
        chart-dataset-override="dataset2014Override"
        chart-options="options"></canvas>

<canvas class="chart-bar"
        chart-data="data2015data"
        chart-labels="data2015labels"
        chart-dataset-override="dataset2015Override"
        chart-options="options"></canvas>

<canvas class="chart-bar"
        chart-data="data2016data"
        chart-labels="data2016labels"
        chart-dataset-override="dataset2016Override"
        chart-options="options"></canvas>
