
@{
    ViewBag.Title = "Index";
}

<div class="dashboard-container" ng-controller="PasvaldibaCtrl">

    <div class="container" ng-if="loadingData">
        <div class="row">
            <img src="~/Content/rolling.svg" class="img-responsive" style="margin: 0 auto;"/>
        </div>
    </div>

    <div class="container" ng-if="!loadingData">

        <div class="row">
            <div>
                <img class="gerbonis img-responsive" style="margin: 0 auto;" src="~/Content/gerboni/{{municipalityCode}}.jpg">
                <h2 class="text-center">{{municipalityName}}</h2>
            </div>
            <div class="legend">
                <ul class="chart-legend">
                    <li ng-repeat="reason in reasonsToColor track by $index">
                        <span class="legend-span" ng-style="getColor($index)"> </span>
                        <span>{{reason}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 item-container" ng-repeat="deputy in deputies">
                        <div class="row">
                            <div class="col-md-5">
                                <a class="deputy-link" ng-click="openModal()">
                                    <p class="text-center" ng-style="getGoodness(deputy)">
                                        <i class="fa fa-user-o fa-4 text-center" aria-hidden="true"></i>
                                    </p>
                                    <h4 class="text-center">{{deputy.Name}}</h4>
                                    <h6 class="text-center">Apmeklētas sēdes:</h6>
                                    <h6 class="text-center">{{deputy.AttendedCount}} no {{deputy.AllCount}}</h6>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <canvas class="chart chart-pie chart-xs" chart-data="getData(deputy)"
                                        chart-labels="getLabels(deputy)"
                                        chart-options="options"
                                        chart-colors="getChartColors(deputy)"
                                        ng-if="deputy.AttendedCount != deputy.AllCount"></canvas>
                                <p class="text-center" ng-if="deputy.AttendedCount == deputy.AllCount">Nav neapmeklēto sēžu</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

