
@{
    ViewBag.Title = "Pašvaldības";
}

<div id="map_loader" class="container">
    <div class="row">
        <img src="~/Content/rolling.svg" class="img-responsive" style="margin: 0 auto;" />
    </div>
</div>

<div id="map"></div>